**/target/**
.project
.classpath
.settings/
.svn/
.lh
/.lh
/.history
.history
# Intellij
*.ipr
*.iml
.idea
.DS_Store
/bootstrap
/dependencies.xml
.java-version
.checkstyle
.factorypath
.vscode/
/target/
repo/
/*.svg